tensorflow-gpu~=2.2.0
numpy~=1.17.0
six~=1.12.0
scipy~=1.4.1
pillow~=6.1.0
matplotlib~=3.1.0
sklearn~=0.0
scikit-learn~=0.21.3
opencv-python~=4.1.1.26
imgaug~=0.4.0
torch~=1.2.0
torchvision~=0.4.0
tqdm~=4.42.1